@{
    ViewBag.Title = "Data Entry Validation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ตรวจสอบการบันทึกผลรางวัล</h2>

<div id="ResultAdminRoot">
</div>

@section scripts {
    @Scripts.Render("~/bundles/result-data-admin")
}