@{
    ViewBag.Title = "Data Entry Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>บันทึกผลรางวัล</h2>

<div id="ResultEntryRoot">
</div>

@section scripts {
    @Scripts.Render("~/bundles/result-data-entry")
}