@using LotteryResult.Models;

@if (HttpContext.Current.Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @HttpContext.Current.User.Identity.Name <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>@Html.ActionLink("แก้ไขข้อมูลผู้ใช้", "Edit", "User", routeValues: new { id = ((user) Session["user"]).id }, htmlAttributes: new { @class = "dropdown-item" })</li>
                    <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">ออกจากระบบ</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("เข้าสู่ระบบ", "LogIn", "Account")</li>
    </ul>
}