@using LotteryResult.Models;

@if (HttpContext.Current.Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    @HttpContext.Current.User.Identity.Name <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("UserEdit", "User")">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> แก้ไขข้อมูลผู้ใช้
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> ออกจากระบบ
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("LogIn", "Account")">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> เข้าสู่ระบบ
            </a>
        </li>
    </ul>
}